@tailwind base;
@tailwind components;
@tailwind utilities;
.cl-normal {
	width: 1400px;
	margin: auto;
	transition: var(--transition150);
}
*{
	font-family: "Poppins", sans-serif;
	transition:  all 0.2s;
  }
  .fixed_header{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
  }
  .shadow{
	box-shadow: 0 0 41px 0 #53545e29;
  }.tamano-img{
	width: 473px;
  }
  .none-focus:focus-visible {
    outline: -webkit-focus-ring-color auto 0px;
}
.big-toast{
	width: 740px;
}
.toast-login{
	width: 540px;
}
.Toastify__close-button {
	width: 40px; 
	height: 40px; 
	font-size: 30px; 
  }
@media screen and (max-width: 1400px) {
	.cl-normal {
		width: 900px;
		margin: auto;
	}



}
@media screen and (max-width: 960px) {
	.cl-normal {
		width: 600px;
		margin: auto;
	}
}


@media screen and (max-width: 650px) {
	.cl-normal {
		width: 85%;
		margin: auto;
	}
	.big-toast{
		width: 360px;
	}
}

@media screen and (max-width: 360px) {

	.cl-normal {
		width: 92%;
		margin: auto;
	}
}